body {background: #fff:}

.howlr-header {max-width: 350px;
						text-align: center;
						margin: auto;}

.howlr-header a{width: 100%;
								background: #ee6e73;
								font-size: 25px;}

.howlr-text {margin: 0;}

.new-howlr-error {max-width: 350px;
									margin: auto;}

.new-howlr-form{max-width: 350px;
								margin:auto;
								margin-top: 15px;}

.new-howlr-form hr{margin-top: 1px;
									margin-bottom: 1px;}

.new-howlr-form input{width: 100%;
											border: none;}

.new-howlr-form h4{float: left;
										margin: 0;}

.new-howlr-submit {float: right;
										margin-top: 20px;
										max-width: 110px;}

.new-howlr-submit-howl {float: right;
										clear: right;
										margin-top: 20px;
										max-width: 110px;}

.new-howlr-back {float: left;
									margin-top: 20px;
									max-width: 100px;}

.pack-header {text-align: center;
							max-width: 350px;
							margin: auto;}

.pack-info {max-width: 350px;
						margin: auto;}

.single-wolf {display: inline-block;
							width: 100%;
							border-style: solid;
							border-width: 1px;}

.pack-image {width: 19px;
							margin: 0;}

.pack-info-container {width: 90%;
											margin: 0;
											margin-right: 10px;
											float: left;}

.wolf-image {width: 100%;
							margin: 3px;
							float: left;
							border-radius: 50%;}
.pack-name {margin: 0px;
						max-width: 275px;
						float: left;}

.pack-name h5 {margin: 0;}

.pack-image-container {width: 19px;
							margin: 0;}

.pack-howl-count {float: right;
									margin: 0;}

.pack-howl-count h5 {margin: 0;}

.pack-description {margin-bottom: 3px;
										float: left;
										clear: right;}

.pack-description h6{margin: 0;}

.to-new-howlr a{float: right;
							margin-top: 5px;}

.select-howling-wolf {float: right;}

.howl-info {max-width: 350px;
						margin: auto;}

.need-to-howl {float: left}

.need-to-howl a{margin-top: 15px;}

.see-pack {float: right;}

.see-pack a{margin-top: 15px;}

.howl-info h2{margin-top: 39px;
							font-size: 25px;
							margin-left: 5px;
							margin-right: 5px;
							text-align: center;}

.wolf-name {float: left;
						margin-left: 10px}

.wolf-name h3{margin: 0;}

.pack-image-container {width: 19px;
							margin: 0;
							float:right;}

.howl-info-container {max-width: 90%;
											margin: 0;
											}

.howl-image {width: 100%;
							margin: 3px;
							float: right;
							border-radius: 50%;
							margin-right: 10px;}

.howl-container {display: inline-block;
							width: 100%;
							border-style: solid;
    						border-color: #ccc;
    						border-width: 2px;}

 .text-image {margin-left: 10px;}

 .text-image-move {max-width: 100%;}

 .text h5{margin-top: 7px;
 					margin-left: 10px;}

 .see-previous a{margin-top: 20px;}





