body {background: #fff:}

.howlr-header {max-width: 350px;
						background: #ee6e73;
						text-align: center;
						color: #fff;
						margin: auto;}

.howlr-text {margin: 0;}

.new-howlr-error {max-width: 350px;
									margin: auto;}

.new-howlr-form{max-width: 350px;
								margin:auto;
								margin-top: 15px;}

.new-howlr-form hr{margin-top: 1px;
									margin-bottom: 1px;}

.new-howlr-form input{width: 100%;
											border: none;}

.new-howlr-submit {position: relative;
										left: 62%;
										top: 14px;
										max-width: 110px;}

.new-howlr-back {position: relative;
									left:0%;
									top:-20px;
									max-width: 100px;}

.pack-header {text-align: center;
							max-width: 350px;
							margin: auto;}

.pack-info {max-width: 350px;
						margin: auto;}
.single-wolf {display: inline-block;}

.pack-image {width: 23%;
							margin: 0;}

.wolf-image {width: 100%;
							margin: 3px;
							float: left;}


