<div class="howlr-header">
	<p><a class="btn btn-danger" href="/howls">Howlr</a></p>
</div>

<div class="howl-info">
	<div class="need-to-howl">
		<p><a class="btn btn-danger" href="/howls/new">NEED TO HOWL?</a></p>
	</div>
	<div class="see-pack">
		<p><a class="btn btn-danger" href="/wolves">SEE THE PACK</a></p>
	</div>
	<br>
	<h2>Here are the last 5 howls from your pack:</h2>
	<% howl_id = Howl.last.id %>
	<% i = 0 %>
		<% while i < $loop do %>
			<% if howl_id > 0 %>
				<div class="howl-container">
					<% howl = Howl.find_by_id(howl_id) %>
					<div class="pack-image-container">
						<img class="howl-image" src='<%= Wolf.find_by_id(howl.wolf_id).image %>' >
					</div>
					<div class="howl-info-container">
						<div class="wolf-name">
							<h3><%= Wolf.find_by_id(howl.wolf_id).name %></h3>
						</div>

						<div class="text-image">
							<img class="text-image-move" src='<%= howl.image %>'>
						</div>
						<br>
						<div class="text">
							<h5><%= Howl.find_by_id(howl_id).text %></h5>
						</div>
					</div>
					<% howl_id -= 1 %>
				</div>	
			<% end %>
			<% i += 1 %>
		<% end %>
	<div class="see-previous">
	<p><a class="btn btn-danger" href="/howls/more">See Previous Howls</a></p>
	</div>


</div>
