<div class="howlr-header">
	<h1 class="howlr-text">Howlr</h1>
</div>

<div class="pack-header">	
	<h2>You have <%= @wolves.count %> wolves in your pack</h2>	
</div>

<div class="pack-info">
	<% @wolves.each do |w| %>
		<div class="single-wolf">
			<div class="pack-image">
				<img class="wolf-image" src='<%=w.image%>'>
			</div>
			<div class="pack-name">
				<h5><%= w.name %></h5>
			</div>
			<div class="pack-description">
				<h6><%= w.description %></h6>
			</div>
		</div>	
	<% end %>
</div>
